/*
 * PROJECT:     ReactOS FakeMenu Library
 * LICENSE:     LGPL-2.1-or-later (https://spdx.org/licenses/LGPL-2.1-or-later)
 * PURPOSE:     A test program for FakeMenu
 * COPYRIGHT:   Copyright 2022 Katayama Hirofumi MZ <katayama.hirofumi.mz@gmail.com>
 */
#include <windows.h>
#include <commctrl.h>

#pragma code_page(65001) // UTF-8

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

1 ICON "res/Icon_1.ico"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

1 MENU
{
    MENUITEM "Item", 100, CHECKED
    MENUITEM "Item 1", 101
    MENUITEM "Item 2", 102, GRAYED
    MENUITEM SEPARATOR
    MENUITEM "Item 3", 103
    POPUP "Sub-Menu 1"
    {
        MENUITEM "Sub-Item 4", 104
        MENUITEM "Sub-Item 5", 105
        POPUP "Sub-Sub-Menu 1"
        {
            MENUITEM "Sub-Sub-Item 6", 106
            MENUITEM "Sub-Sub-Item 7", 107
        }
    }
    POPUP "Sub-Menu 2"
    {
        MENUITEM "Sub-Item 4", 104
        MENUITEM "Sub-Item 5", 105
        POPUP "Sub-Sub-Menu 1"
        {
            MENUITEM "Sub-Sub-Item 6", 106
            MENUITEM "Sub-Sub-Item 7", 107
        }
    }
}

2 MENU
{
    MENUITEM "Item A", 100
    POPUP "Item B"
    {
        MENUITEM "Item D", 103
        MENUITEM "Item E", 104
        MENUITEM "Item F", 105
    }
    MENUITEM "Item C", 102
}

3 MENU
{
    MENUITEM "Item A", 100
    MENUITEM "Item C", 102
}
